<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div style="text-align: center">
    <h1 >Home</h1>
    </div>

    <a font="30" style="color:rgb(92, 86, 86);" id="home" href="/home">Home</a>
    <t><a font="30" style="color:rgb(92, 86, 86);" id="myblog" href="/myblog">MyBlog</a></t>
        
    <br>
    <br>
    <hr color="black">
<div>
    <h1>Obama Kills Penguins On The Moon</h1>
    <p>
        <h3>
                Tragic events in today's society are getting out of hand recently. Today's catastrophe is about former U.S president "Barack Obama" as he committed a hate crime against The Macaroni penguins.
        </h3>
    </p>
</div>



</body>
</html>